<h1>The Overkill Todo List</h1>

<div>
  <h3>Les items de la todo list :</h3>
  <p *ngIf="todos.length === 0">Aucune Todo à Afficher, merci d'en créer une !</p>
  <div *ngFor="let todo of todos" class="item">
    <mat-checkbox [checked]="todo.close" (change)="toggleCheckbox(todo.id)" [ngClass]="todo.close ? 'closed-item' : 'open-item'">{{todo.title}}</mat-checkbox>
    <mat-icon [routerLink]="['/my-todo',todo.id]" class="zoom-in">zoom_in</mat-icon>
  </div>

  <form #todoForm="ngForm">
    <mat-form-field>
      <input matInput name="newTodoTitle" placeholder="Nouvelle todo" [(ngModel)]="newTodoTitle">
    </mat-form-field>
    <button mat-fab (click)="newTodo()" [disabled]="newTodoTitle == null"><mat-icon>add</mat-icon></button>
  </form>
</div>


